@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-dark" asp-area="" asp-page="/Quotes/Index">View Quotes</a>
    <a asp-page="/Quotes/Create">Add New Quote</a>
</div>
