@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="button-margin">
        <a class="button" asp-area="" asp-page="/Quotes/Index">View Quotes</a>
        <a class="button" asp-page="/Quotes/Create">Add New Quote</a>
    </div>
</div>
