/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    font-family: 'Playfair Display', serif;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: white;
    text-decoration: none;
    font-size:45px;
    
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/backgroundwood1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
footer {
  box-sizing: border-box;
  border-top: solid 1px white;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

header, footer {
    padding: 15px;
    color: #91a0c4;
    background-color: #03222b;
    margin:0px;
}

header{
    text-align: center;
    border-bottom: solid 1px white;
}

 .nav-item .nav-link{
    text-decoration: none;
    text-transform:uppercase;
    color: #ebe8ff;
}

.navbar-nav{
    list-style: none;
    padding: 0px;
}
/* HIDE RADIO 
input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}*/

.radioSelect input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* CHECKED STYLES */
input[type=radio]:checked {
    outline: 2px solid #f00;
}

#Quote_DeskSurfaceMaterial[value=laminate] {
    background-image: url(../images/laminate100.jpg);
}

#Quote_DeskSurfaceMaterial[value=oak] {
    background-image: url(../images/oak100.jpg);
}

#Quote_DeskSurfaceMaterial[value=pine] {
    background-image: url(../images/pine100.jpg);
}

#Quote_DeskSurfaceMaterial[value=rosewood] {
    background-image: url(../images/rosewood100.jpg);
}

#Quote_DeskSurfaceMaterial[value=veneer] {
    background-image: url(../images/veneer100.jpg);
}

#Quote_DeskSurfaceMaterial {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}

main{
    width: 70%;
    margin: auto;
    background-color: white;
}

.radioSelect label {
    display: flex;
    text-align: center;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.longhand {
    flex-flow: wrap row;
}

.flex-item {
    padding: 0 10px 10px 0;
}

.material-label {
    justify-content: left !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
}




